{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Not in use-->
<head>
    <!-- Document metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Title of the page -->
    <title>School Inventory - Admin Current Reservations</title>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Header section -->
    <div class="header">
        <h1>Inventory System</h1>
    </div>
    <!-- Main heading section -->
    <div class="main-hedding">
        <h1>Current Reservations</h1>
    </div>
    <!-- Main content section -->
    <div class="main-div">
        <!-- Main content header section -->
        <div class="main-div-header">
            <!-- Search input field -->
            <div>
                <input type="search" name="search" class="search" placeholder="Search...">

                <!-- Dropdown menu -->
                <div class="dropdown">
                    <!-- Dropdown icon -->
                    <img src="{% static 're.png' %}" alt="arrow" class="drop-down-icon" style="width: 50px;">
                    <!-- Dropdown content -->
                    <div class="dropdown-content">
                        <a href="#">Availability</a>
                        <a href="#">Date return date</a>
                        <a href="#">Type of equipment</a>
                    </div>
                </div>
            </div>
            <!-- Back button -->
            <button class="back-button" onclick="location.href = 'admininventorymenu'">Back</button>
        </div>
        <!-- Reservation list section -->
        <div class="reservation-list">
            <!-- Button to manage reservation -->
            <input type="button" value="Manage Reservation" class="btn-manage-reservation">
        </div>
    </div>

</body>

</html>