{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Not in use-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School Inventory - User Account Management</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="header">
        <h1>Inventory System</h1>
    </div>
    <div class="main-hedding">
        <h1>User Account Management</h1>
    </div>
    <div class="main-div">
        <div class="main-div-header">
            <div style="width: 100%;">
                <button class="back-button">Add</button>
                <button class="back-button">Remove</button>
                <button class="back-button">Promote</button>
            </div>
            <button class="back-button">Back</button>
        </div>
        <br>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
        <div style="display: flex; flex-direction: row;">
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
            <div class="cell2"></div>
        </div>
    </div>

</body>

</html>